<div class="top-bar">
    <a routerLink="/" class="logo">
      <h1>aaaaaa</h1>
    </a>
  
    <a routerLink="" class="navlink">Dashboard</a>
  
    <a routerLink="/" class="navlink">Issued Books</a>
  
    <a routerLink="/" class="navlink">Account</a>
  
    <a routerLink="/" class="navlink"></a>
  </div>
  
  <!-- 
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at https://angular.io/license
  -->
  