<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Social Dashborad Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet"  integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

</head>
<body>

    <div class="container">

        <div class="header">
            <div class="logo">
                <span>Social Dashboard</span>
                <p>Total Count Followers: 34.706 </p>
            </div>
            <div class="option">
                <div class="option__icon">
                    <i class="fas fa-download"></i>
                </div>
                <div class="option__icon">
                    <i class="fas fa-cog"></i>
                </div>
                <button class="option__icon">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>

        <div class="social-profiles">

            <div class="social-1">
                <div class="social-1__icon">
                    <div class="option__icon">
                        <i class="fab fa-facebook-square"></i>
                    </div>
                </div>
                <h3 class="heading-3">12.432</h3>
                <h4 class="heading-4">Followers</h4>
                <p class="new">+12 Today</p>
                <p class="username">@omerhodjisch</p>
            </div>
            
            <div class="social-2">
                <div class="social-2__icon">
                    <div class="option__icon">
                        <i class="fab fa-twitter"></i>
                    </div>
                </div>
                <h3 class="heading-3">3.453</h3>
                <h4 class="heading-4">Followers</h4>
                <p class="new">+12 Today</p>
                <p class="username">@omerhodjisch</p>
            </div>
            
            <div class="social-3">
                <div class="social-3__icon">
                    <div class="option__icon">
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
                <h3 class="heading-3">4.56m</h3>
                <h4 class="heading-4">Followers</h4>
                <p class="zero">0 Today</p>
                <p class="username">@omerhodjisch</p>
            </div>
            
            <div class="social-4">
                <div class="social-4__icon">
                    <div class="option__icon">
                        <i class="fab fa-dribbble"></i>
                    </div>
                </div>
                <h3 class="heading-3">1.432</h3>
                <h4 class="heading-4">Followers</h4>
                <p class="new">+5 Today</p>
                <p class="username">@omerhodjisch</p>
            </div>
            
            <div class="social-5">
                <div class="social-5__icon">
                    <div class="option__icon">
                        <i class="fab fa-spotify"></i>
                    </div>
                </div>
                <h3 class="heading-3">9.432</h3>
                <h4 class="heading-4">Followers</h4>
                <p class="new">-3 Today</p>
                <p class="username">@omerhodjisch</p>
            </div>

        </div>


        <div class="overview">

            <div class="top-bar">
                <h2 class="heading-2">Overview</h2>
                <div class="filter">
                    <div class="custom-select">
                        <select>
                            <option>Sort as high % </option>
                            <option>Sort as low % </option>
                        </select>
                    </div>
                    <div class="icon">
                        <i class="fas fa-list-ul"></i>
                    </div>
                </div>
            </div>
            

            <div class="social-1">

                <div class="social-1__row-1">
                    <div class="option__icon">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <p>+23%</p>
                </div>

                <div class="social-1__row-2">
                    <a class="heading-1" routerLink="my-books">My Books</a>
                </div>

                <div class="social-1__row-3">
                    <p>Retweets</p>
                    <div class="custom-select">
                        <select>
                            <option>7 days</option>
                            <option>30 days </option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="social-2">

                <div class="social-2__row-1">
                    <div class="option__icon">
                        <i class="fab fa-facebook-square"></i>
                    </div>
                    <p>+8%</p>
                </div>

                <div class="social-2__row-2">
                    <h1 class="heading-1">24</h1>
                </div>

                <div class="social-2__row-3">
                    <p>Comments</p>
                    <div class="custom-select">
                            <select>
                                <option>7 days</option>
                                <option>30 days </option>
                            </select>
                        </div>
                </div>

            </div>

            <div class="social-3">

                <div class="social-3__row-1">
                    <div class="option__icon">
                        <i class="fab fa-youtube"></i>
                    </div>
                    <p>+13%</p>
                </div>

                <div class="social-3__row-2">
                    <a class="heading-1" routerLink="request-books">Request Books</a>
                </div>

                <div class="social-3__row-3">
                    <p>Views</p>
                    <div class="custom-select">
                            <select>
                                <option>7 days</option>
                                <option>30 days </option>
                            </select>
                        </div>
                </div>

            </div>


        </div>

    </div>
    
</body>
</html>